body{
	font-family: 'Open Sans', sans-serif;
}

#footer{
	padding: 20px;
	background: rgb(77,28,27);
	color: white;
}

.orange{
	color: orange;
}

.container{
	min-height: 450px;
}

.image3{
	width: 200px;
	margin: 0 auto;
	display: block;
	padding: 10px;
}

.banner{
	width: 100%;
}

h1{
	color: rgb(77,28,27);
	font-size: 54px;
}

h2{
	color: #808080
}